<div modal="!login.isLoggedIn" options="loginOpts">
    <div class="modal-header">
        <h4>Login to Trello</h4>
    </div>
    <div class="modal-body">
        You need to authorize this app to connect to your trello account.
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="login.loginToTrello()">Login to trello</button>
    </div>
</div>


<div ng-show="login.isLoggedIn">
    <p>Hello, {{model.member.fullName}}!</p>
    <button class="btn" ng-click="login.logoutFromTrello()">Logout</button>
    <button class="btn" ng-click="model.refreshActiveBoard()">Refresh</button>
    <select ng-model="model.activeBoard" ng-options="i.name for i in model.boards">
    </select>

    <h1>{{model.activeBoard.name}}</h1>
    <ul>
        <li ng-repeat="list in model.activeLists">
            {{list.name}} | {{list.load}}
            <ul>
                <li ng-repeat="card in list.cards">{{card.name}}</li>
            </ul>
        </li>
    </ul>
</div>