<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">TrelloAnalyze</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a target="_blank" href="http://github.com/~achauve/trelloanalyze">Source on GitHub</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a target="_blank" href="http://trello.com">{{model.member.fullName}}</a></li>
                    <li><button class="btn btn" ng-click="login.logoutFromTrello()">Logout</button></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div ng-show="login.isLoggedIn">
        <div class="row-fluid">
            <div class="span3">
                <!--Sidebar content-->
                <ul class="nav nav-list">
                    <li class="nav-header">Choose board</li>
                    <li><select ng-model="model.activeBoard" ng-options="i.name for i in model.boards" ng-change="model.refreshActiveBoard()">
                        </select>
                    </li>
                    <li><button class="btn" ng-click="model.refreshActiveBoard()">Refresh</button></li>
                </ul>
            </div>
            <div class="span9">
                <!--Body content-->
                <h1>{{model.activeBoard.name}}</h1>
                <accordion close-others="false">
                    <accordion-group heading="{{list.name}} | {{list.load}}" ng-repeat="list in model.activeLists">
                        <ul>
                            <li ng-repeat="card in list.cards">{{card.name}}</li>
                        </ul>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>

</div>


<div modal="!login.isLoggedIn" options="loginOpts">
    <div class="modal-header">
        <h4>Login to Trello</h4>
    </div>
    <div class="modal-body">
        You need to authorize this app to connect to your trello account.
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="login.loginToTrello()">Login to trello</button>
    </div>
</div>





